*~
__pycache__

du-prev.log
du.log

doc/sphinx/build/
doc/sphinx/source/examples/
doc/sphinx/source/restructured-text/api/

ressources/

template-variables.txt
__TRASH__/

.python-version
uv.lock

doc/build-2020/
doc/examples-2020/
doc/jquery-2017.min.js
doc/restructured-text/
doc/sphinx/source/_static/
doc/sphinx/source/themes/PythonMemoRtd/static/jquery.js
doc/sphinx/unused/

examples/.pyterate-failures.json

test.py
open-doc.sh

gh-pages/
peps/

pygments-test/

rassumfrassum-prettify/
resources/

tools/make-readme
tools/upload-www
